@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-stone-100);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  background-color: var(--color-white);
  width: 737px;
  height: 1711px;
  border-radius: 25px;
  margin-top: 123px;
  margin-bottom: 50px;
  padding: 40px;
}

.header {
  width: 655px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 30px;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: var(--color-stone-900);
  font-size: 40px;
  margin-bottom: 28px;
}

h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: var(--color-brown-800);
  font-size: 28px;
  margin-bottom: 15px;
}

.sub_title {
  font-family: "Outfit", serif;
  color: var(--color-rose-800);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

p,
li,
table {
  font-family: "Outfit", serif;
  color: var(--color-stone-600);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

main div{
  margin-bottom: 40px;
}

li {
  margin-left: 30px;
  margin-bottom: 5px;
  padding-left: 20px;
}

li::marker {
  color: var(--color-brown-800);
  font-weight: 700;
}

.card {
  background-color: var(--color-rose-50);
  width: 655px;
  height: 179px;
  border-radius: 10px;
  padding: 28px;
  margin: 35px 0;
}

.card li::marker {
  color: var(--color-rose-800);
}

hr{ 
  border: none;
  height: 1px; 
  margin-bottom: 30px;
  background-color: var(--color-stone-150);
}

table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 25px;
}

table th{
  padding: 8px 0 8px 30px;
  text-align: left;
  font-weight: 400;
  width: 330px;
}

table td {
  padding: 8px;
  text-align: left;
  color: var(--color-brown-800);
  font-weight: 700;
}

table tr {
  border-bottom: 1px solid var(--color-stone-150); 
}

table tr:last-child {
  border-bottom: none; 
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 50px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
